name: Node.js CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 25.x
          cache: npm

      - run: npm ci

      - name: Create .env
        run: |
          printf "%s" "${{ secrets.PRODUCTION }}" > .env

      - run: npm run build --if-present

      - name: Install PM2
        run: npm install -g pm2

      - name: Restart PM2 app
        run: |
          pm2 delete backend || true
          pm2 start index.js --name backend
